<div class="row justify-content-md-center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h3>You are already logged in</h3>
        </div>
        <div class="card-text">
          <ul>
            <li><a href="./conference/Visitor/logout">Need to log out?</a></li>
            <li><a href="./conference/Visitor/Conference">Sign up for a conference?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
