<div class="row">
  <div class="col-sm-6 mx-auto">
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          Logged out
        </h2>
      </div>
      <div class="card-body">
        <p class="card-text">Remember, you can return to update or add to your registration. You may also change your
          orientation session.</p>
        <p class="card-text"><a href="./conference/User/Visitor/login" class="btn btn-success">Log back in</a></p>
      </div>
    </div>
  </div>
</div>