<form method="post" action="./conference/User/Visitor/login">
  <div class="row justify-content-md-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h3>Please login</h3>
          </div>
          <div class="card-text">
            <label>Email address</label>
            <input type="text" name="email" class="form-control"/>
            <label class="mt-3">Password:</label>
            <input type="password" name="password" class="form-control"/>
            <div class="text-center">
              <button class="btn btn-success mt-3">Log in</button>
              <div class="bg-light p-3">
                <a href="conference/User/Visitor/signup">Need to sign up? Click here to make an account.</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
