<div class="conference row justify-content-md-center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h3 class="my-0">Sorry</h3>
      </div>
      <div class="card-body">
        <p class="card-text">
            We could not send your password reset email - possibly because we don't have record of your account.
        </p>
        <p class="card-text">If this is your first time here, create a new account by clicking below.</p>
        <a href="./conference/User/Visitor/signup" class="btn btn-primary">Create a new parent account</a>
      </div>
    </div>
  </div>
</div>