<div class="row d-flex justify-content-center">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">
        <h3 class="m-0"><?=$conferenceTitle?></h3>
      </div>
      <div class="card-body">
        <h4 class="card-title"><?=$sessionTitle?></h4>
        <p class="card-text">
          Your supplement is complete!
        </p>
        <div class="text-center">
          <p class="card-text">
            <a class="btn btn-success btn-lg" href="conference/Visitor/Registration/<?=$registrationId?>">Go to my registration</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
