<div class="row justify-content-md-center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header bg-danger">
        <h3 class="mb-0 text-white">Sorry</h3>
      </div>
      <div class="card-body">
        <div class="card-text">
          <p>We are unable to activate your account. Either the information was problematic or your request
            timed out.</p>
          <p>Please
            <a href="./conference/User/Visitor/signup">create the account</a> again and be sure check your email
            immediately after for the activation link.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>