<h2><?=$title?></h2>
<div class="mb-3"><?=$description?></div>
<p><strong>Location:</strong> <a href="conference/User/Location/<?=$location['id']?>"><?=$location['title']?></a></p>
<?php if (!empty($sessionList)) :?>
<div class="mt-3">
  <div class="text-center lead">
    <hr />
    <p>Need to register for a session or update your current registration?<br /><a class="btn btn-primary" href="./conference/User/Visitor/login">Click here to sign in to the registration system!</a> </p>
    <hr />
  </div>
  <h3>Available sessions</h3>
  <?=$sessionList?>
  <hr />
</div>
<?php endif;?>