<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <p>
      A new user was created for you at site
      <strong><?=$hostName?></strong>.
    </p>
    <p>
      This account was created onsite for Parent Orientation. You should not
      need to log in again. If you do need to revisit your account, use the sign
      in information below.
    </p>
    <p>Email/Username: <?=$email?><br />
      Password: <?=$password?>
    </p>
     <p>Thank you for joining us today!</p>
    <p>Best regards,<br />
      App State Parent & Family Services<br />
      <a href="https://parents.appstate.edu">parents.appstate.edu</a></p>
</body>
</html>